/* Botones outline en modo oscuro */
[data-bs-theme="dark"] .btn-outline-info {
  color: #5bc0de;
  border-color: #5bc0de;
}
[data-bs-theme="dark"] .btn-outline-info:hover {
  background-color: #5bc0de;
  color: #000;
}

[data-bs-theme="dark"] .btn-outline-secondary {
  color: #adb5bd;
  border-color: #adb5bd;
}
[data-bs-theme="dark"] .btn-outline-secondary:hover {
  background-color: #adb5bd;
  color: #000;
}

[data-bs-theme="dark"] .btn-outline-primary {
  color: #69baff;
  border-color: #69baff;
}
[data-bs-theme="dark"] .btn-outline-primary:hover {
  background-color: #69baff;
  color: #000;
}

[data-bs-theme="dark"] .btn-outline-danger {
  color: #ff6b6b;
  border-color: #ff6b6b;
}
[data-bs-theme="dark"] .btn-outline-danger:hover {
  background-color: #ff6b6b;
  color: #000;
}

[data-bs-theme="dark"] .btn-outline-success {
  color: #63e6be;
  border-color: #63e6be;
}
[data-bs-theme="dark"] .btn-outline-success:hover {
  background-color: #63e6be;
  color: #000;
}

[data-bs-theme="dark"] .btn-outline-warning {
  color: #ffe066;
  border-color: #ffe066;
}
[data-bs-theme="dark"] .btn-outline-warning:hover {
  background-color: #ffe066;
  color: #000;
}
